header {
    background-color: white;
    border-bottom: 1px solid lightgray;
    .container {
        max-width: 1700px;
        div {
            height: 70px;   
            img {
                height: 100%;
            }
        }
        #button-container {
            .accedi {
                background-color: $deliveboo;

                &:hover {
                    border: 1px solid gray;
                }

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }

            .registrati {
                border: 1px solid lightgray;

                &:hover {
                    border: 1px solid gray;
                }

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
}
